@font-face { 
font-family: 'FontSpesial'; 
src: url('fonts/digital-7mono.eot.eot');
} 

@font-face { 
font-family: 'FontSpesial'; 
src: url('fonts/digital-7mono.ttf');
}

.FontStandar { font-family: Arial; font-size: 40pt; } 

.FontHari { font-family: 'FontSpesial'; font-size: 45pt; color:#33ccff; text-shadow: 3px 3px 5px #000000;}
.FontDigit { font-family: 'FontSpesial'; font-size: 90pt; color:#00ff00; text-shadow: 3px 3px 5px #000000;}

.FontHariS { font-family: Arial; font-size: 40pt; color:#33ccff; text-shadow: 3px 3px 5px #000000;}
.FontDigitS { font-family: Arial; font-size: 80pt; color:#00ff00; text-shadow: 3px 3px 5px #000000;}

.FontHariU { font-family: 'FontSpesial'; font-size: 25pt; color:#33ccff; text-shadow: 3px 3px 5px #000000;}
.FontDigitU { font-family: 'FontSpesial'; font-size: 50pt; color:#00ff00; text-shadow: 3px 3px 5px #000000;}

.FontHariSU { font-family: Arial; font-size: 20pt; color:#33ccff; text-shadow: 3px 3px 5px #000000;}
.FontDigitSU { font-family: Arial;; font-size: 40pt; color:#00ff00; text-shadow: 3px 3px 5px #000000;}


table {border-collapse: collapse; border-spacing: 0;}

a {color:yellow; text-decoration:none; font-size: 20pt}
a:active  {color:yellow; text-decoration:none; font-size: 20pt;}
a:visited {color:lightgreen; text-decoration:none; font-size: 20pt}
a:hover   {color:red; text-decoration:underline}

tr.odd:hover td {background-color: #F6F6F6;}

.Jam	   	{color: #000000; font-size:14pt; text-shadow: 2px 2px 3px #000; -webkit-font-smoothing: antialiased;}